*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Abel', sans-serif;
	position: relative;
}
/* p,h1,h2,h3,h4,h5,h6,span{
	color: #3f3d56;
} */
.row{
	width: 100%;
}
.header .box-header .nav-menu{
	display: flex;
}
.header .box-header .nav-menu .cerrar{
	display: none;
}
.header .box-header .nav-menu a{
	display: inline-block;
	width: 20%;
	padding: 10px;
	text-align: center;
	color: #164668;
	font-size: 18px;
	font-weight: 300;
	transition: .3s all;
}
.header .box-header .nav-menu a:hover{
	text-decoration: none;
	background: #164668;
	color: #C0C6CB;
}
/* media----------- */
@media only screen and (max-width: 600px) {
	.box-flotant{
		display: block;
		display: flex;
	}
	 body{min-width: 100%;}
	 .row{
	 	margin-left: 0;
	 }
	.header .box-header .nav-menu .cerrar{
		display: block;
	}
	.header .box-header{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 1000;
		background: #164668;
		position: fixed;
	}

	.header .box-header .nav-menu{
		display: block;
	}
	.header .box-header .nav-menu a{
		width: 100%;
		color: #FFF;
		border-bottom: 1px solid rgba(0, 0, 0, .1)
	}
}
/* banner */

.box-banner{
	position: relative;
	height: 400px;
}
.box-banner .box-social{
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.box-banner .box-mensaje{
	width: 50%;
	position: absolute;
	bottom: 10px;
	left: 0px;
	background: rgba(20, 65, 99, .5);
	padding: 5px;
	border-radius: 3px;
}
.box-banner .box-mensaje h3{
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	color: #FFF;
}
.box-banner .box-mensaje p{
	letter-spacing: 2px;
	font-size: 12px;
	color: #FFF;
}
.banner .box-banner .box-social{
	display: flex;

}
.banner .box-banner .box-social a{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}
.banner .box-banner .box-social a.face{
	background: #3B5998;
}
.banner .box-banner .box-social a.twitter{
	background: #55ACEE;
}
.banner .box-banner .box-social a.insta{
	background: #2E5E86;
}
.banner .box-banner .box-social a.mail{
	background: #DD4B39;
}
.banner .box-banner .box-social a i{
	font-size: 25px;
	color: #FFF;
}


@media only screen and (max-width : 768px){
	.banner, .box-banner{
		height: 300px;
	}
	.banner .box-banner .box-mensaje{
		width: 60%;
	}
	.box-banner .box-mensaje h3{
		font-size: 14px;
	}
	.box-banner .box-mensaje p{
		font-size: 8px;
	}
	.banner .box-banner .box-social a{
		width: 30px;
		height: 30px;
	}
	.banner .box-banner .box-social a i{
		font-size: 15px;
		color: #FFF;
	}
}

/* main contenido */
.main{
	display: flex;
	margin-top: 10px;
	width: 100%;
}
.main .box-main{
	width: 100%;
	transition: .3s;
}
.main .box-main .box-about{
	display: flex;
}
.main.container{
	padding: 0;
}
.main .box-main .box-about .about{
	width: 100%;
}
.main .box-main .box-about .about .title {
   font-weight: bold;
   font-size: 2.2em;
   padding-top: 1rem;
   padding-bottom: 1em;
   color: #3f3d56 !important;
}
.main .box-main .box-about .about h6 {
   font-size: 20px;
   line-height: 28px;
   font-weight: 600;
}
.main .box-main .box-about .about p{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 28px;
	
}
.main .box-main .box-about .img-about img{
	width: 100%;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #000;
}
.main .box-main .box-about .img-about{
	width: 600px;
	padding: 30px 5px 0px 10px;
}

/*aside*/
.main .box-aside{
	width: 30%;
	transition: .3s;
	padding-left: 10px;
}
.main .box-aside .title{
	display: block;
	color: #3f3d56;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
   font-size: 1rem;
   padding-top: 1rem;
   padding-bottom: 1em;
}
.main .box-aside a{
	padding: 5px 10px;
	color: #17A2B8;
}
.main .box-aside a:hover{
	text-decoration: none;
}
.main .box-aside a p{
	display: block;
	font-size: 14px;
}

@media only screen and (max-width : 600px){
	.main .box-main .box-about{
		display: block;
	}
	.main .box-main .box-about .about .title {
	   font-weight: bold;
	   font-size: 1.8em;
	}
	.main .box-main .box-about .about h6 {
	   font-size: 18px;
	   line-height: 24px;
	}
	.main .box-main .box-about .about p{
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 24px;
	}
	.main .box-main .box-about .img-about{
		width: 100%;
		margin-bottom: 10px;
	}
	
	.main .box-aside{
		display: none;
	}
}
@media only screen and (max-width : 768px){
	.main .box-aside{
		display: none;
	}
}