*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Abel', sans-serif;
	position: relative;
}


.header .box-header .nav-menu{
	display: flex;
}
.header .box-header .nav-menu .cerrar{
	display: none;
}
.header .box-header .nav-menu a{
	display: inline-block;
	width: 20%;
	padding: 10px;
	text-align: center;
	color: #164668;
	font-size: 18px;
	font-weight: 300;
	transition: .3s all;
}
.header .box-header .nav-menu a:hover{
	text-decoration: none;
	background: #164668;
	color: #C0C6CB;
}
/* media----------- */
@media only screen and (max-width: 600px) {
	.box-flotant{
		display: block;
		display: flex;
	}
	 body{min-width: 100%;}
	 .row{
	 	margin-left: 0;
	 }
	.header .box-header .nav-menu .cerrar{
		display: block;
	}
	.header .box-header{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 1000;
		background: #164668;
		position: fixed;
	}

	.header .box-header .nav-menu{
		display: block;
	}
	.header .box-header .nav-menu a{
		width: 100%;
		color: #FFF;
		border-bottom: 1px solid rgba(0, 0, 0, .1)
	}
}


.box-banner{
	display: none;
}
main .card-banner{
	position: relative;
}
main .card-banner .card-social{
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
}
main .card-banner .card-social a{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}
main .card-banner .card-social a.face{
	background: #3B5998;
}
main .card-banner .card-social a.twitter{
	background: #55ACEE;
}
main .card-banner .card-social a.insta{
	background: #2E5E86;
}
main .card-banner .card-social a.mail{
	background: #DD4B39;
}
main .card-banner .card-social a i{
	font-size: 25px;
	color: #FFF;
}

/* box-banner */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 768px) {
	.card-banner{
		display: none;
	}
	.box-banner{
		display: block;
		position: relative;
	}
	.box-banner .box-social{
		position: absolute;
		right: 10px;
		bottom: 10px;
		display: flex;
	}
	.box-banner .box-social a{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 5px;
	}
	.box-banner .box-social a.face{
		background: #3B5998;
	}
	.box-banner .box-social a.twitter{
		background: #55ACEE;
	}
	.box-banner .box-social a.insta{
		background: #2E5E86;
	}
	.box-banner .box-social a.mail{
		background: #DD4B39;
	}
	.box-banner .box-social a i{
		font-size: 20px;
		color: #FFF;
	}
}
/* acerca color: #3f3d56;*/
main .card-acerca .card-body .media .media-body h5, p{
	color: #3f3d56;
}
main .card-acerca .card-body .media img{
	width: 250px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 768px) {
	main .card-acerca .card-body .media img{
		width: 100%;
		margin-top: 0!important;
	}
	
}
/* noticias */
main .card-noticia .card-body  .media .media-body .fecha-news{
	font-size: 14px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-width: 768px) {
	main .card-noticia .card-body  .media .media-body .text{
		font-size: 12px;
	}
}
/*footer*/
.site-footer{
	background: #131313;
}
.bottom-footer{
	background: #0F0F0F;
	padding: 10px 0px;
}
.bottom-footer p, .bottom-footer a{
	color: #FFF;
}
.bottom-footer p{
	color: #FFF;
	padding-top: 8px;
}
@media only screen and (max-width : 600px){

}
.box-float-menu,
.box-float-news,
.box-float-msj{
	display: none;
	cursor: pointer;
	transition: .3s ease;
}
.box-float-menu:active,
.box-float-news:active,
.box-float-msj:active{
	transform: scale(0.7);
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 600px) {
	.box-float-menu{
		position: absolute;
		bottom: 30px;
		right: 10px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #C61118;
		border: 4px solid #C61118;
		color: #FFF;
		z-index: 1000;
		position: fixed;
	}
	.box-float-news{
		position: absolute;
		bottom: 150px;
		right: 10px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #25D366;
		border: 4px solid #25D366;
		color: #FFF;
		z-index: 1000;
		position: fixed;
	}
	.box-float-msj{
		position: absolute;
		bottom: 90px;
		right: 10px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #30CFC0;
		border: 4px solid #30CFC0;
		color: #FFF;
		z-index: 1000;
		position: fixed;
	}
}