* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	position: relative;
}
$grisTexto: #3f3d56;
$azul: #164668;
$azulHover: #c0c6cb;
$blanco: #fff;
$face: #3b5998;
$twitter: #55acee;
$insta: #2e5e86;
$mail: #dd4b39;
$negro: #131313;
$negro2: #0f0f0f;
.box-float-menu,
.box-float-news,
.box-float-msj {
	display: none;
	cursor: pointer;
	transition: 0.3s ease;
}
.box-float-menu:active,
.box-float-news:active,
.box-float-msj:active {
	transform: scale(0.7);
}
// header
.header {
	.box-header {
		.nav-menu {
			display: flex;
			a {
				display: inline-block;
				width: 20%;
				padding: 10px;
				text-align: center;
				color: $azul;
				font-size: 18px;
				font-weight: 300;
				transition: 0.3s all;
				&:hover {
					text-decoration: none;
					background: $azul;
					color: $azulHover;
				}
			}
			.cerrar {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.header {
		.box-header {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: 1000;
			background: $azul;
			position: fixed;
			.nav-menu {
				display: block;
				a {
					width: 100%;
					color: $blanco;
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				}
				.cerrar {
					display: block;
				}
			}
		}
	}
}
// banner
.box-banner {
	display: none;
}

// main banner
main {
	.card-banner {
		position: relative;
		.card-social {
			position: absolute;
			right: 10px;
			bottom: 10px;
			display: flex;
			a {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 5px;
				i {
					color: $blanco;
					font-size: 25px;
				}
			}
			.face {
				background: $face;
			}
			.twitter {
				background: $twitter;
			}
			.insta {
				background: $insta;
			}
			.mail {
				background: $mail;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.card-banner {
		display: none;
	}
	.box-banner {
		display: block;
		position: relative;
		.box-social {
			position: absolute;
			right: 10px;
			bottom: 10px;
			display: flex;
			a {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 5px;
				i {
					color: $blanco;
				}
			}
			.face {
				background: $face;
			}
			.twitter {
				background: $twitter;
			}
			.insta {
				background: $insta;
			}
			.mail {
				background: $mail;
			}
		}
	}
}
// main acerca
main {
	.card-acerca {
		.card-body {
			.media {
				img {
					width: 300px;
				}
				.media-body {
					padding: 10px;
					h5 {
						font-size: 18px;
					}
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	main {
		.card-acerca {
			.card-body {
				.media {
					img {
						width: 250px;
					}
					.media-body {
						padding: 5px;
						h5 {
							font-size: 16px;
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	main {
		.card-acerca {
			.card-body {
				.media {
					img {
						width: 200px;
					}
					.media-body {
						padding: 10px;
						h5 {
							font-size: 14px;
						}
						p {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

// noticias
main {
	.card-noticia {
		.card-body {
			.h5 {
				a {
					font-size: 18px;
				}
			}
			.blockquote {
				p {
					color: $grisTexto;
					font-weight: 200;
					font-size: 16px !important;
				}
				.fecha-news {
					font-size: 11px;
				}
			}
		}
	}
}
@media only screen and (max-width: 7680px) {
	main {
		.card-noticia {
			.card-body {
				.h5 {
					a {
						font-size: 16px;
					}
				}
				.blockquote {
					p {
						font-size: 14px;
					}
					.fecha-news {
						font-size: 10px !important;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	main {
		.card-noticia {
			.card-body {
				.h5 {
					a {
						font-size: 14px;
					}
				}
				.blockquote {
					p {
						font-size: 12px;
					}
					.fecha-news {
						font-size: 10px !important;
					}
				}
			}
		}
	}
}

// mensaje 2da columna

// .box-mensaje {
// 	.card-body {
// 		color: $blanco;
// 		h4 {
// 		}
// 		.titulo {
// 		}
// 		.mensaje {
// 		}
// 	}
// }
@media only screen and (max-width: 768px) {
	.box-mensaje {
		.card-body {
			h4 {
				font-size: 18px;
			}
			.titulo {
				font-size: 14px;
			}
			.mensaje {
				font-size: 12px;
			}
		}
	}
}
// footer
.site-footer {
	background: $negro;
	.bottom-footer {
		background: $negro2;
		padding: 10px 0px;
		p {
			color: $blanco;
			display: block;
			padding-top: 2px;
		}
		.box-social {
			display: flex;
			align-items: right;
			a {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 5px;
				color: $blanco;
			}
			.face {
				background: $face;
			}
			.twitter {
				background: $twitter;
			}
			.insta {
				background: $insta;
			}
			.mail {
				background: $mail;
			}
		}
	}
}

// float menu
@media only screen and (max-width: 600px) {
	.box-float-menu {
		position: absolute;
		bottom: 30px;
		right: 10px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #c61118;
		border: 4px solid #c61118;
		color: #fff;
		z-index: 1000;
		position: fixed;
	}
	.box-float-news {
		position: absolute;
		bottom: 150px;
		right: 10px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #25d366;
		border: 4px solid #25d366;
		color: #fff;
		z-index: 1000;
		position: fixed;
	}
	.box-float-msj {
		position: absolute;
		bottom: 90px;
		right: 10px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #30cfc0;
		border: 4px solid #30cfc0;
		color: #fff;
		z-index: 1000;
		position: fixed;
	}
}
