* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.box-float-menu,
.box-float-news,
.box-float-msj {
  display: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.box-float-menu:active,
.box-float-news:active,
.box-float-msj:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.header .box-header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .box-header .nav-menu a {
  display: inline-block;
  width: 20%;
  padding: 10px;
  text-align: center;
  color: #164668;
  font-size: 18px;
  font-weight: 300;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header .box-header .nav-menu a:hover {
  text-decoration: none;
  background: #164668;
  color: #c0c6cb;
}

.header .box-header .nav-menu .cerrar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header .box-header {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: #164668;
    position: fixed;
  }
  .header .box-header .nav-menu {
    display: block;
  }
  .header .box-header .nav-menu a {
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .box-header .nav-menu .cerrar {
    display: block;
  }
}

.box-banner {
  display: none;
}

main .card-banner {
  position: relative;
}

main .card-banner .card-social {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .card-banner .card-social a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

main .card-banner .card-social a i {
  color: #fff;
  font-size: 25px;
}

main .card-banner .card-social .face {
  background: #3b5998;
}

main .card-banner .card-social .twitter {
  background: #55acee;
}

main .card-banner .card-social .insta {
  background: #2e5e86;
}

main .card-banner .card-social .mail {
  background: #dd4b39;
}

@media only screen and (max-width: 768px) {
  .card-banner {
    display: none;
  }
  .box-banner {
    display: block;
    position: relative;
  }
  .box-banner .box-social {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .box-banner .box-social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
  }
  .box-banner .box-social a i {
    color: #fff;
  }
  .box-banner .box-social .face {
    background: #3b5998;
  }
  .box-banner .box-social .twitter {
    background: #55acee;
  }
  .box-banner .box-social .insta {
    background: #2e5e86;
  }
  .box-banner .box-social .mail {
    background: #dd4b39;
  }
}

main .card-acerca .card-body .media img {
  width: 300px;
}

main .card-acerca .card-body .media .media-body {
  padding: 10px;
}

main .card-acerca .card-body .media .media-body h5 {
  font-size: 18px;
}

main .card-acerca .card-body .media .media-body p {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  main .card-acerca .card-body .media img {
    width: 250px;
  }
  main .card-acerca .card-body .media .media-body {
    padding: 5px;
  }
  main .card-acerca .card-body .media .media-body h5 {
    font-size: 16px;
  }
  main .card-acerca .card-body .media .media-body p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  main .card-acerca .card-body .media img {
    width: 200px;
  }
  main .card-acerca .card-body .media .media-body {
    padding: 10px;
  }
  main .card-acerca .card-body .media .media-body h5 {
    font-size: 14px;
  }
  main .card-acerca .card-body .media .media-body p {
    font-size: 12px;
  }
}

main .card-noticia .card-body .h5 a {
  font-size: 18px;
}

main .card-noticia .card-body .blockquote p {
  color: #3f3d56;
  font-weight: 200;
  font-size: 16px !important;
}

main .card-noticia .card-body .blockquote .fecha-news {
  font-size: 11px;
}

@media only screen and (max-width: 7680px) {
  main .card-noticia .card-body .h5 a {
    font-size: 16px;
  }
  main .card-noticia .card-body .blockquote p {
    font-size: 14px;
  }
  main .card-noticia .card-body .blockquote .fecha-news {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 600px) {
  main .card-noticia .card-body .h5 a {
    font-size: 14px;
  }
  main .card-noticia .card-body .blockquote p {
    font-size: 12px;
  }
  main .card-noticia .card-body .blockquote .fecha-news {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  .box-mensaje .card-body h4 {
    font-size: 18px;
  }
  .box-mensaje .card-body .titulo {
    font-size: 14px;
  }
  .box-mensaje .card-body .mensaje {
    font-size: 12px;
  }
}

.site-footer {
  background: #131313;
}

.site-footer .bottom-footer {
  background: #0f0f0f;
  padding: 10px 0px;
}

.site-footer .bottom-footer p {
  color: #fff;
  display: block;
  padding-top: 2px;
}

.site-footer .bottom-footer .box-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.site-footer .bottom-footer .box-social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  color: #fff;
}

.site-footer .bottom-footer .box-social .face {
  background: #3b5998;
}

.site-footer .bottom-footer .box-social .twitter {
  background: #55acee;
}

.site-footer .bottom-footer .box-social .insta {
  background: #2e5e86;
}

.site-footer .bottom-footer .box-social .mail {
  background: #dd4b39;
}

@media only screen and (max-width: 600px) {
  .box-float-menu {
    position: absolute;
    bottom: 30px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #c61118;
    border: 4px solid #c61118;
    color: #fff;
    z-index: 1000;
    position: fixed;
  }
  .box-float-news {
    position: absolute;
    bottom: 150px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #25d366;
    border: 4px solid #25d366;
    color: #fff;
    z-index: 1000;
    position: fixed;
  }
  .box-float-msj {
    position: absolute;
    bottom: 90px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #30cfc0;
    border: 4px solid #30cfc0;
    color: #fff;
    z-index: 1000;
    position: fixed;
  }
}
/*# sourceMappingURL=style.css.map */