p, label, h1, h2, h3,h4,h5,h6,span,i{
	color: #989898;
}
.form .box-form-banner .box-input-mensaje{
	display: flex;
}
.form .box-form-banner p{
	display: block;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 4px 0px;
}

.form .box-image .box-form-image{
	width: 100%;
	margin-top: 10px;
	display: flex;
	padding: 10px 0px;
}
.form .box-image  #file-input{
	display: none;
}
.form .box-image .box-form-image .icon-buscar{
	display: block;
	font-weight: 400;	
	cursor: pointer;
	font-size: 25px;
	padding-right: 5px;
}
.form .box-image .box-form-image p{
	display: block;
	font-weight: 400;	
	cursor: pointer;
}
/* contenedor vista previa*/
.preview{
		width: 400px;
		height: 200px;
		border: 4px dotted #CDD3D8;
	}
	.box-previa .images-cards{
		width: 400px;
		position: relative;
	}
	.box-previa .images-cards figure figcaption{
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		font-size: 44px;
		cursor: pointer;
		opacity: 0;
		transition: 0.3s all ease;
		-webkit-transition: 0.3s all ease;
		-moz-transition: 0.3s all ease;
		-ms-transition: 0.3s all ease;
		-o-transition: 0.3s all ease;
	}
	.images-cards figure figcaption:hover {
   	opacity: 1;
	}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 768px){
	.preview{
		width: 100%;
		height: 200px;
		border: 4px dotted #CDD3D8;
	}
	.box-previa .images-cards{
		position: relative;
	}
	.box-previa .images-cards figure figcaption{
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		font-size: 44px;
		cursor: pointer;
		opacity: 0;
		transition: 0.3s all ease;
		-webkit-transition: 0.3s all ease;
		-moz-transition: 0.3s all ease;
		-ms-transition: 0.3s all ease;
		-o-transition: 0.3s all ease;
	}
	.images-cards figure figcaption:hover {
   	opacity: 1;
	}
}
/* formulario acerca*/
.box-for-acerca{
	margin-top: 10px;
	display: flex;
}
.box-for-acerca .box-cont-acerca{
	width: 50%;
	margin-top: 5px;
}
.box-for-acerca .box-cont-acerca .titulo{
	color: #989898;
	letter-spacing: 2px;
}
texarea.form-control{
	height: 500px !important;
	letter-spacing: 2px;
	color: red;
}
.box-for-acerca .box-cont-img-acerca{
	width: 50%;
	margin-top: 5px;
}
.box-for-acerca .box-cont-img-acerca .box-buscar .open_search{
	display: flex;

}
.box-for-acerca .box-cont-img-acerca .box-buscar #open_search{
	display: flex;
	cursor: pointer;
}
.box-for-acerca .box-cont-img-acerca .box-buscar #open_search i{
	display: block;
	font-size: 20px; 
	padding-top: 5px;
}
.box-for-acerca .box-cont-img-acerca .box-buscar #open_search p{
	display: block;
	padding-top: 5px;
	font-size: 14px;
	margin: 0px 10px;
}
.box-for-acerca .box-cont-img-acerca .box-buscar .box-img-acerca .box-previa-about{
	margin-top: 10px;
	margin-left: 10px;
	width: 300px;
	height: 200px;
	border: 4px dotted #CDD3D8;
	border-radius: 4px;
}
.box-for-acerca .box-img-acerca .images-card{
	position: relative;
	width: 300px;
}
.box-for-acerca .box-img-acerca .images-card .container-imagen figure img{
	width: 100%;
	
}
.box-for-acerca .box-img-acerca .images-card .container-imagen{
	margin-top: 10px;
	margin-left: 10px;
}
.box-for-acerca .box-img-acerca .images-card .container-imagen figure figcaption{
	position: absolute;
	top: 0;
	left: 10px;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 44px;
	cursor: pointer;
	opacity: 0;
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
}
.box-for-acerca .box-img-acerca .images-card .container-imagen figure figcaption:hover {
   opacity: 1;
}
.box-for-acerca .form_img_acerca #file-input-acerca{
	display: none;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 600px) {
	.box-for-acerca{

	}
	.box-for-acerca .box-cont-acerca{
		width: 100%;
		margin-top: 5px;
	}
	.box-for-acerca .box-cont-acerca .titulo{

		margin-bottom: 14px;
	}
	.box-for-acerca .box-cont-acerca .form_acerca textarea{

		height: 100px;
	}

	.box-for-acerca .box-cont-img-acerca{
		width: 100%;
		margin-top: 10px;
	}
	.box-for-acerca .box-cont-img-acerca .box-buscar{
		margin: 5px 0px 10px 0px;
	}
	.box-for-acerca .box-cont-img-acerca .box-buscar .open_search{
		display: flex;
	}

	.box-for-acerca .box-cont-img-acerca .box-buscar .box-img-acerca .box-previa-about{
		margin-top: 10px;
		width: 200px;
		height: 200px;
		border: 4px dotted #CDD3D8;
		border-radius: 4px;
	}
	
	.box-for-acerca .box-img-acerca .images-card{
		position: relative;
		width: 200px;
		height: 200px;
	}
	.box-for-acerca .box-img-acerca .images-card .container-imagen figure img{
		width: 100%;
		
	}
	.box-for-acerca .box-img-acerca .images-card .container-imagen figure figcaption{
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		width: 200px;
		height: 200px;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
		font-size: 44px;
		cursor: pointer;
		opacity: 0;
		transition: 0.3s all ease;
		-webkit-transition: 0.3s all ease;
		-moz-transition: 0.3s all ease;
		-ms-transition: 0.3s all ease;
		-o-transition: 0.3s all ease;
	}
	.box-for-acerca .box-img-acerca .images-card .container-imagen figure figcaption:hover {
	   opacity: 1;
	}
}